.logoimg{
    background-image: url(../images/ENJ-logoWHite.svg);
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 40px;
    margin-right: 20px;
    
}


.links a{
    font-family: MontserratM;
    color: #BCA1C7;
    text-decoration: none;
    margin-right: 90px;
    font-size: 22px;
    margin-right: 39px;
    font-family: queen;
    font-weight: bold;
}
.nav-wrapper {
    height: 150px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index:1;

}
nav {
    height: 150px;
    width: 1280px;
    margin: 0 auto;
    /* background-color: rgba(125, 125, 125, 0.8); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    
}
@media only screen and (max-width: 1226px) {
    nav {
        width: 100%; 
        padding: 0 20px; 
    }

    .logoimg {
        width: 150px; 
        height: 150px; 
        margin-top: 20px; 
        margin-right: 10px;
    }

    .links {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px; 
    }

    .links a {
        margin-right: 12px; 
        margin-bottom: 10px; 
    }
}